<footer class="footer">
  <small>
    <a href="http://jssst.or.jp/">Japan Society for Software Science and Technology</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Reviewing guide", 'http://www.jssst.or.jp/edit/detail/referee.html' %></li>
    </ul>
  </nav>
</footer>
